.our-services-title{
    font-weight: 700 !important;
    font-size: 28px;
}

.nav-link{
    color: #9A9CA5;
}

.nav-link:hover {
    color: #7772F1 !important;
}

.nav-pills .active{
    background-color: transparent !important;
    color: #7772F1 !important;
    border: 1px solid #7772F1 !important;
    cursor: default;
}

.form-control::placeholder {
    color: rgba(225, 255, 255, 0.7);
}

.form-control:focus {
    outline: none;
}

.accordion-item {
    overflow: hidden;
    border-radius: 10px;
}

.accordion-button {
    box-shadow: none;
    position: relative;
    min-height: 70px;
    padding-right: 3rem;
    width: 708px;;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button::after{
    content: '+';
    color: #7772F1;
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
    width: 1ch;
    transform: none !important;
    background-image: none !important;
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: #7772F1;
    opacity: 80%;
}

.accordion-button:not(.collapsed)::after {
    content: '-';
    color: white;
}

.accordion-body{
    padding: 1.5rem;
    height: 100px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.accordion-collapse {
    transition: height 0.3s ease;
}