.card-title-custom{
    font-weight: 700 !important;
    font-size: 28px !important;
}

.card-price-custom{
    font-weight: 900 !important;
    font-size: 46px !important;
}

.card-price-custom > span{
    font-weight: 700 !important;
    font-size: 20px !important;
    vertical-align: super !important;
}

.card-list-custom > li{
    margin-bottom: 8px;
}